.start-button {
    width: 100px;
}
.stop-button {
    width: 100px;
}
.anime-button {
    display: none;
}
.container {
    line-height: 1.5;
}

.form-row {
    margin-bottom: 10px;
}

.button-row {
    margin-top: 20px;
}
