<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
{% block style %}{% endblock %}
<body>
    <div class="logo">
        <a href="/anime/">
            <img src="/static/img/auto_anime.png" alt="" height="100px" style="margin-left: 45px;"> 
        </a>
    </div>
    <div class="lside-container">
        <button class="lside-button" onclick="window.location.href='/anime/'">番剧</button>
        <button class="lside-button" onclick="window.location.href='/download/'">下载</button>
        <button class="lside-button" onclick="window.location.href='/setting/'">设置</button>
    </div>
    <div class="container">
        <div class="navi-with-button">
            <div class="navi">
                {% for bm in broadcast_map %}
                <div class="broadcast">
                    {% if bm.year == broadcast_url.url_year %}
                    <div class="year" style="background-color: orange;">{{ bm.year }}</div>
                        {% if broadcast_url.url_season == 1 %}
                            {% if bm.winter == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/4">冬</a></div>{% endif %}
                            {% if bm.spring == 1 %}<div class="season" style="background-color: orange;"><a href="/anime/list/{{ bm.year }}/1">春</a></div>{% endif %}
                            {% if bm.summer == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/2">夏</a></div>{% endif %}
                            {% if bm.autumn == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/3">秋</a></div>{% endif %}
                        {% elif broadcast_url.url_season == 2 %}
                            {% if bm.winter == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/4">冬</a></div>{% endif %}
                            {% if bm.spring == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/1">春</a></div>{% endif %}
                            {% if bm.summer == 1 %}<div class="season" style="background-color: orange;"><a href="/anime/list/{{ bm.year }}/2">夏</a></div>{% endif %}
                            {% if bm.autumn == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/3">秋</a></div>{% endif %}
                        {% elif broadcast_url.url_season == 3 %}
                            {% if bm.winter == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/4">冬</a></div>{% endif %}
                            {% if bm.spring == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/1">春</a></div>{% endif %}
                            {% if bm.summer == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/2">夏</a></div>{% endif %}
                            {% if bm.autumn == 1 %}<div class="season" style="background-color: orange;"><a href="/anime/list/{{ bm.year }}/3">秋</a></div>{% endif %}
                        {% else %}
                            {% if bm.winter == 1 %}<div class="season" style="background-color: orange;"><a href="/anime/list/{{ bm.year }}/4">冬</a></div>{% endif %}
                            {% if bm.spring == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/1">春</a></div>{% endif %}
                            {% if bm.summer == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/2">夏</a></div>{% endif %}
                            {% if bm.autumn == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/3">秋</a></div>{% endif %}
                        {% endif %}
                    {% else %}
                    <div class="year">{{ bm.year }}</div>
                        {% if bm.winter == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/4">冬</a></div>{% endif %}
                        {% if bm.spring == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/1">春</a></div>{% endif %}
                        {% if bm.summer == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/2">夏</a></div>{% endif %}
                        {% if bm.autumn == 1 %}<div class="season"><a href="/anime/list/{{ bm.year }}/3">秋</a></div>{% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            </div>
            {% if page_flag == 1 %}
            <button class="anime-button">列表更新</button>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
    </div>
</body>
</html>