{% extends "base.html" %}

{% block title %}{{ anime.anime_name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/detail.css">
    <link rel="stylesheet" href="/static/css/anime.css">
    <script src="/static/jquery/jquery.3.7.1.min.js"></script>
    <script src="/static/js/anime.js"></script>
    <script src="/static/js/detail.js"></script>
{% endblock %}

{% block body %}
<div>
    <div class="anime-info-container">
        <div class="anime-img">
            <img src="{{ anime.img_url }}" alt="" height="280px" width="210px">
        </div>
        <div class="anime-info">
            <div class="detail-anime-name">
                {{ anime.anime_name }}
            </div>
            <div class="button-container">
                {% if anime.subscribe_status==1 %}
                    <button class="subscribe-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}" style="background-color:red;">
                        <img src="/static/img/icon/subscribe.svg" alt="" width="20px" height="20px">
                    </button>
                    <button class="update-button" id="{{ anime.mikan_id }}" type="{{ anime.anime_type }}">
                        <img src="/static/img/icon/update.svg" alt="" width="20px" height="20px">
                    </button>
                    <button class="download-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}" style="background-color:orange;">
                        <img src="/static/img/icon/download.svg" alt="" width="20px" height="20px">
                    </button>
                    <button class="clean-button" id="{{ anime.mikan_id }}">
                        <img src="/static/img/icon/clean.svg" alt="" width="20px" height="20px">
                    </button>
                {% else %}
                    <button class="subscribe-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}">
                        <img src="/static/img/icon/subscribe.svg" alt="" width="20px" height="20px">
                    </button>
                    <button class="update-button" id="{{ anime.mikan_id }}" type="{{ anime.anime_type }}">
                        <img src="/static/img/icon/update.svg" alt="" width="20px" height="20px">
                    </button>
                    <button class="clean-button" id="{{ anime.mikan_id }}">
                        <img src="/static/img/icon/clean.svg" alt="" width="20px" height="20px">
                    </button>
                {% endif %}   
            </div>
            <div class="episode-container">
                <div class="subgroup-container">
                    {% for ss in subgroup_with_seed_list %}
                        {% if ss.subgroup_id == 0 %}
                            <div class="subgroup" title="{{ ss.subgroup_name }}" id="{{ ss.subgroup_id }}" onclick="showSeeds('{{ ss.subgroup_id }}')" style="background-color: rgb(87, 136, 87);color: white;">{{ ss.subgroup_name }}</div>
                        {% else %}
                            <div class="subgroup" title="{{ ss.subgroup_name }}" id="{{ ss.subgroup_id }}" onclick="showSeeds('{{ ss.subgroup_id }}')">{{ ss.subgroup_name }}、</div>
                        {% endif %}
                    {% endfor %}
                    {% for ss in subgroup_with_seed_list %}
                        {% if ss.subgroup_id == 0 %}
                            <div class="subgroup-seed" id="{{ ss.subgroup_id }}" style="display: block;">
                                {% for st in ss.seed_list %}
                                    {% if st.seed.episode == -1 %}
                                        {% set episode_str = "合" %}
                                    {% else %}
                                        {% set episode_str = st.seed.episode %}
                                    {% endif %}

                                    {% if st.status == 3 %}
                                        <div class="episode" id="downloaded-ep" data-id="{{ anime.mikan_id }}" style="background-color:rgb(41, 207, 132);">{{ episode_str }}</div>
                                    {% elif st.status == 2 %}
                                        <a href="/download">
                                            <div class="episode" id="downloaded-ep" data-id="{{ anime.mikan_id }}" style="background-color:rgb(88, 202, 255);">{{ episode_str }}</div>
                                        </a>
                                    {% else %}
                                        <div class="episode" id="undownloaded-ep" data-id="{{ anime.mikan_id }}">{{ episode_str }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="subgroup-seed" id="{{ ss.subgroup_id }}">
                                {% for st in ss.seed_list %}
                                    {% if st.seed.episode == -1 %}
                                        {% set episode_str = "合" %}
                                    {% else %}
                                        {% set episode_str = st.seed.episode %}
                                    {% endif %}
                                    {% if st.status == 0 %}
                                        <div class="episode" id="undownloaded-sd" data-id="{{ anime.mikan_id }}" data-url="{{ st.seed.seed_url }}" title="{{ st.seed.seed_name }}">{{ episode_str }}</div>
                                    {% elif st.status == 3 %}
                                        <div class="episode" id="downloaded-sd" data-id="{{ anime.mikan_id }}" title="{{ st.seed.seed_name }}" style="background-color:rgb(41, 207, 132);">{{ episode_str }}</div>
                                    {% elif st.status == 2 %}
                                        <a href="/download">
                                            <div class="episode" id="downloaded-sd" data-id="{{ anime.mikan_id }}" title="{{ st.seed.seed_name }}" style="background-color:rgb(88, 202, 255);">{{ episode_str }}</div>
                                        </a>
                                    {% else %}
                                        <div class="episode" id="failed-sd" data-id="{{ anime.mikan_id }}" data-url="{{ st.seed.seed_url }}" title="{{ st.seed.seed_name }}" style="background-color:grey;">{{ episode_str }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="context-menu" id="undownloaded-ep-menu">
    <div id="download">下载</div>
    <div id="recover">恢复</div>
    <div id="subscribe">开始订阅</div>
</div>
<div class="context-menu" id="downloaded-ep-menu">
    <div id="delete">删除</div>
    <div id="subscribe">开始订阅</div>
</div>
<div class="context-menu" id="undownloaded-sd-menu">
    <div id="download">下载</div>
</div>
<div class="context-menu" id="downloaded-sd-menu">
    <div id="delete">删除</div>
</div>
<div class="context-menu" id="failed-sd-menu">
    <div id="recover">恢复</div>
</div>
{% endblock %}